body {
  font-family: "Victor Mono", monospace;
  display: flex;
  // возможно нужно будет убоать
  height: 100vh;
  overflow-y: hidden;
  align-items: center;
  justify-content: center;
  background-color: #07283d;
}
