* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
}
p {
  margin: 0;
  padding: 0;
  line-break: anywhere; // возможно удалить
}
span {
  margin: 0;
  padding: 0;
}
:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}
